{% extends 'adminbase.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="span9">
        <div class="content">

            <div class="module message">
                <div class="module-head">
                    <h3>Category Show Page</h3>
                </div>

                <div class="module-body table">

                    <table class="table table-bordered">

                        <th>Id</th>
                        <th>Parentid</th>
                        <th>Title</th>
                        <th>Keywords</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>

                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.parentid }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.keywords }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.status }}</td>
                            <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>

                        </tr>
                        <tr>
                            <td><a href="{{ path('category_index') }}" class="btn btn-info ">
                                    <i class="icon-arrow-left"></i>
                                    <b>Back to list</b>
                                </a>
                            </td>
                        </tr>



                        </tbody>
                    </table>


                    </tbody>

                    </table>



                </div>
                <div class="module-foot">
                </div>
            </div>

        </div>
        <!--/.content-->
    </div>
    <!--/.span9-->
    </div>
    </div>
    <!--/.container-->
    </div>
    <!--/.wrapper-->

{% endblock %}
